
body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    color: #333
}

nav ul {
    display: flex;
    list-style: none;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul div,
.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav ul li a {
    font-family: "Montserrat-Regular", sans-serif;
    text-decoration: none;
    color: #2F4228;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    padding: 0 100px;
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width: 900px) {
    .container {
        padding: 0 50px;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 0 20px;
    }
}

.container h1 {
    font-family: 'Montserrat-Medium', sans-serif;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 10px;
}

.container h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.line-div {
    position: relative;
}

.line {
    width: 110px;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.back-link {
    text-decoration: none;
    font-size: 1.1em;
    color: #395E3F;
    margin-bottom: 20px;
    background: none;
    border: none;
    display: inline-block;
    position: absolute;
    z-index: 5;
}

.back-link:hover {
    text-decoration: underline;
}

.row {
    margin: 100px 0 100px 0;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width: 1200px) {
    .row {
        margin-top: 80px;
        gap: 20px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 920px) {
    .row {
        margin-top: 50px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.my-recipe,
.admin-recipe-card {
    position: relative;
}

.recipe-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
    padding: 5px;
    border-bottom-left-radius: 10px;
    background: #fff;
}

.recipe-actions img {
    height: 30px;
    width: 30px;
}

.col-md-4 {
    flex: 0 0 22%;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    overflow: hidden;
    border-radius: 10px;
    transition: all .5s;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
    word-break: break-all;
}

.card-body h5 {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.card-body p {
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 20px;
    color: #666;
}

.card-icons {
    display: flex;
    justify-content: space-between;
}

.card-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-icon img {
    width: 30px;
    height: 30px;
}

.btn-success {
    cursor: pointer;
    padding: 10px 40px;
    background-color: #3B5C41;
    border: none;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    font-size: 16px;
    transition: all .5s;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-error {
    cursor: pointer;
    padding: 10px 40px;
    background-color: #F01227;
    border: none;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    font-size: 16px;
    transition: all .5s;
}

.btn-error:hover {
    background-color: #a30f1d;
}


.m-0 {
    margin: 0;
}



.container.show {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

.container.show img {
    aspect-ratio: 5/2;
    object-fit: cover;
}

@media (max-width: 900px) {
    .container.show {
        gap: 20px;
    }
}

.recipe-image {
    width: 100%;
}

.recipe-description {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 24px;
    margin-top: 20px;
    color: #000000;
}

.recipe-info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2.recipe-info-h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-align: left;
}

.info-block {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;

    font-size: 20px;
}

.info-block span {
    color: #056B37;
    font-weight: bold;
}

.recipe-info img {
    width: 40px;
    height: 40px;
}

.recipe-info-cook {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.recipe-info-cook h3 {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.ingredients ul,
.steps ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    font-size: 20px;
}

@media (max-width: 900px) {
    .recipe-info img {
        width: 30px;
        height: 30px;
    }

    .info-block {
        font-size: 16px;
    }

    .recipe-info-cook h3 {
        font-size: 18px;
    }

    .ingredients ul,
    .steps ol {
        font-size: 16px;
    }

    h2.recipe-info-h2 {
        font-size: 24px;
    }
}

.recipe-add-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author,
.rating form {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #056B37;
}

.author h4 {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 16px;
}

.author p {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
}

.author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.favorite-btn {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.favorite-remove-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}



header {
    background-color: #F5EFE3;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1024px) {
    .header {
        flex-wrap: wrap;
    }

    .header-content,
    .image-wrapper {
        margin: 0 auto;
    }
}

.header h1 {
    font-family: 'Montserrat-ExtraBold', sans-serif;
    color: #FF0000;
    font-size: 55px !important;
    text-align: start !important;
    margin-bottom: 25px !important;
}

.header p {
    font-size: 18px;
    font-family: 'Montserrat-Regular', sans-serif;
}

.header-content {
    max-width: 593px;
}

.image-wrapper img {
    max-width: 100%;
    width: 100%;
}

.dishes {
    background-color: #3A5232;
}

.dishes__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 70px;
}

.image-wrapper__dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.image-wrapper__dishes img {
    max-width: 100%;
    width: 100%;
}

@media (max-width: 760px) {
    .dishes__wrapper {
        flex-direction: column;
    }

    .image-wrapper__dishes img {
        max-width: 400px;
    }
}

.image-wrapper__dishes span {
    color: #fff;
    font-size: 24px;
    font-family: 'Montserrat-Regular', sans-serif;
}

.lights {
    margin: 0 auto;
    transform: translateY(30px);
    overflow: hidden;
}

.lights-wrapper {
    height: 138px;
    background-image: url('../images/lights.png');
}


.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.popular-wrapper h2 {
    font-family: 'Montserrat-Regular', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.categories {
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: center;
}

@media (max-width: 760px) {
    .categories {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.advice {
    color: #9F7330;
    background-color: #F5EFE3;
    padding: 60px 0;
    margin-top: 86px;
}

.advice-container {
    max-width: 1100px;
}

.advice h2 {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}

.content__advice {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 930px) {
    .content__advice {
        align-items: center;
    }

    .text__advice {
        margin-top: 0;
    }
}

@media (max-width: 860px) {
    .content__advice {
        flex-direction: column;
    }
}

.text__advice {
    max-width: 685px;
    margin-top: 15px;
}

.text__advice h5 {
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size: 24px;
    margin-bottom: 12px;
}

.text__advice p {
    font-size: 24px;
}

.image-wrapper__advice {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.advice-img {
    width: 400px;
    object-fit: cover;
}

.name {
    font-family: 'Inter_18pt-Bold', sans-serif;
    color: #000000;
    font-size: 15px;
}

.author-class {
    font-family: 'Inter_18pt-Light', sans-serif;
    color: #000000;
    font-size: 12px;
}

.item__category {
    font-family: 'Inter_18pt-Bold', sans-serif;
    cursor: pointer;
    color: #ffffff;
    min-width: 152px;
    border-radius: 50px;
    text-align: center;
    background-color: #3B5C41;
    padding: 12px 0;
}

.dishes-slider {
    max-width: 98vw;
    overflow-x: auto;
    display: flex;
    margin-top: 90px;
    gap: 20px;
    padding: 0 20px;
    scrollbar-width: thin;
    scrollbar-color: #3B5C41 white;
}

.cart-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.dishes-slider li {
    max-width: 242px;
}

.dish-images {
    object-fit: cover;
    aspect-ratio: 3/4;
    width: 250px;
}

.dish-images {
    border-radius: 9px;
}

.hidden-slider {
    display: none;
}

.item__dishes_slider {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 10px;
    position: relative;
    justify-content: space-between;
}

.item-info__dishes_slider span {
    color: #F01227;
    font-size: 11px;
}

.expert-advice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 100px 0;
}


.expert-advice h2 {
    font-family: 'Montserrat-Regular', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.expert-advice-slider {
    max-width: 98vw;
    overflow-x: auto;
    display: flex;
    gap: 20px;
    padding: 0 20px;
    scrollbar-width: inherit;
    scrollbar-color: #3B5C41 white;
}

.expert-advice-btn {
    text-align: center;
}


.expert-advice-btn button {
    font-family: 'Inter_18pt-Bold', sans-serif;
    cursor: pointer;
    color: #ffffff;
    min-width: 152px;
    border-radius: 50px;
    border-style: none;
    text-align: center;
    background-color: #3B5C41;
    padding: 12px 0;
    margin-top: 50px;
}

.recipe-form h2 {
    font-family: 'Montserrat-Regular', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.recipe-form h3 {
    font-family: 'Montserrat-Regular', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}



.footer-lights {
    margin: 0 auto;
    background-color: #3A5232;
}

.footer-lights-wrapper {
    height: 138px;
    background-image: url(../images/lights.png);
    transform: translateY(-60px);
}




@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Inter_18pt-Bold";
    src: url("../fonts/Inter_18pt-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Inter_18pt-Light";
    src: url("../fonts/Inter_18pt-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* кнопка выйти в админ понели*/

.btn-logout {
    background-color: #F01227;
    padding: 9px 31px;
    border-radius: 18px;
    color: #fff;
}

.btn-logout:hover {
    background-color: #a30f1d;
    transition: 0.3s;
}


/* В*/


.search-form {
    display: flex;
    margin-bottom: 20px;
}

.search-form input {
    flex: 1;
    margin-right: 10px;
}

.searchStyle {
    padding-top: 50px;
}

.form-control {
    border-radius: 20px;
    border: solid #3B5C41 3px;
    padding: 10px;
}

.btn-primary {
    border-radius: 25px;
    border-style: none;
    background-color: #3B5C41;
    padding: 5px 30px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    transition: 0.3s;
    background-color: #218838;
}


.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination .page-link {
    margin: 0 5px;
    padding: 8px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #007bff;
    text-decoration: none;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
}

.pagination .page-link:hover {
    background-color: #ddd;
}