body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.container h1 {
    font-size: 32px;
    color: #000000;
    text-align: center;
    margin-bottom: 40px;
    font-weight:bold;
}

.tips-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    gap: 30px;
    justify-items: center;
}

.line {
    width: 119px;
    height: 2px;
    background-color: #395E3F;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tip-card {
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease;
}

.tip-card img {
    width: 630px;
    height: 500px;
    object-fit: cover;
    border-bottom: 2px solid #eee;
}


.tip-card h2 {
    font-weight: lighter;
    font-size: 23px;
    color: #000000;
}

.tip-card p {
    font-weight: lighter;
    font-size: 1rem;
    color: #7f8c8d;
    position: relative;
    top: -5px;

}

.tip-card:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .tip-card h2 {
        font-size: 1.4rem;
    }

    .tip-card p {
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    .tip-card h2 {
        font-size: 1.2rem;
    }

    .tip-card p {
        font-size: 0.9rem;
    }
}

.back-link {
    text-decoration: none;
    font-size: 1.1em;
    color: #395E3F;
    margin-bottom: 20px;
    display: inline-block;
}

.back-link:hover {
    text-decoration: underline;
}
